<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
<div class="header">
    <nav>
        <h3>E-Cinemma User Profile</h3>
        <ul class="nav-links">
            <li><a href="../HomePage/home.html">Home</a></li>
            <li><a href="../Booking/buyTickets.html">Book</a></li>
            <li><a href="viewHistory.html">Order History</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <h2>User Profile</h2>
    <div class="profile-card">
        <label for="userID">User ID:</label>
        <h4 id="userID">CurrentUserID</h4>

        <label for="username">Username:</label>
        <h4 id="username">CurrentUsername</h4>

        <label for="email">Email:</label>
        <h4 id="email">CurrentEmail</h4>

        <label for="firstName">First Name:</label>
        <h4 id="firstName">CurrentFirstName</h4>

        <label for="lastName">Last Name:</label>
        <h4 id="lastName">CurrentLastName</h4>
    </div>
    <button id="editProfileBtn">Edit Profile</button>
    <!-- Added "Add Payment Card" button -->
    <button id="paymentCardBtn">Manage Payment Card(s)</button>
</div>
<div class="footer">
    <div class="item">
        <a>&copy; E-Cinemma</a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async function () {
        const userId = localStorage.getItem('userID');

        try {
            const response = await fetch(`/api/users/${userId}`);
            if (response.ok) {
                const userData = await response.json();
                document.getElementById('userID').textContent = userData.user_id;
                document.getElementById('username').textContent = userData.username;
                document.getElementById('email').textContent = userData.email;
                document.getElementById('firstName').textContent = userData.first_name;
                document.getElementById('lastName').textContent = userData.last_name;
            } else {
                throw new Error('Failed to fetch user data');
            }
        } catch (error) {
            console.error('Error fetching user data:', error);
        }
    });

    document.getElementById('editProfileBtn').addEventListener('click', function () {
        window.location.href = 'editProfile.html';
    });

    // Event listener for "Add Payment Card" button
    document.getElementById('paymentCardBtn').addEventListener('click', function () {
        window.location.href = 'paymentCards.html'; // Navigate to the payment cards page
    });
</script>

</body>

</html>
