<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <div class="header">
        <nav>
            <h3>E-Cinema Booking</h3>
            <ul class="nav-links">
                <li><a href="../HomePage/home.html">Home</a></li>
                <li><a href="../Registration/registration.html">Create Account</a></li>
            </ul>
        </nav>
    </div>
    <form id="forgotPasswordForm">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
        <button type="submit">Reset Password</button>
        <p class="error" id="error"></p>
    </form>
    <script>
        document.getElementById("forgotPasswordForm").addEventListener("submit", async function (event) {
            event.preventDefault();

            const email = document.getElementById("email").value;
            const username = document.getElementById("username").value;
            const errorMessage = document.getElementById("error");

            // Client-side validation example
            if (!email || !username) {
                errorMessage.innerText = "Email and username are both required.";
                return;
            }

            try {
                const response = await fetch('/user/reset-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, username }),
                });
                if (response.ok) {
                    errorMessage.innerText = "New Password sent to " + email;
                    setTimeout(() => {
                        window.location.href = 'login.html';
                    }, 2000); // Redirect to login page after 2 seconds
                } else {
                    const errorData = await response.json();
                    errorMessage.innerText = errorData.message || "An error occurred. Please try again.";
                }
            } catch (error) {
                console.error('Password reset failed:', error);
                errorMessage.innerText = "An error occurred. Please try again";
            }
        });
    </script>

    <div class="footer">
        <div class="item">
            <a>&copy; E-Cinema</a>
        </div>
    </div>
</body>

</html>
